<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
  <div class="container">

    <button class="navbar-toggler d-lg-none" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
            aria-controls="mobileMenu" aria-label="Toggle menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    
      <div class="collapse navbar-collapse d-none d-lg-flex justify-content-between" id="navbarNav">
      <!-- LEFT: site links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item fw-bold"><a class="nav-link is-active" href="index.html">Home</a></li>
        <li class="nav-item fw-bold"><a class="nav-link" href="cv.html">CV</a></li>
        <li class="nav-item fw-bold"><a class="nav-link" href="projects.html">Projects</a></li>
        <li class="nav-item fw-bold"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>

      <!-- RIGHT: icons -->
      <ul class="navbar-nav ms-auto align-items-center gap-4">
        <li class="nav-item">
          <a class="nav-link p-0" href="mailto:jbb43@njit.edu" aria-label="Email Jack">
            <img class="nav-icon" src="assets/images/email-icon.svg" alt="Email" width="42" height="42" loading="lazy" color ="ffffff">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" href="https://www.linkedin.com/in/jackbland-data" target="_blank" rel="noopener" aria-label="LinkedIn">
            <img class="nav-icon" src="assets/images/linkedin-icon.svg" alt="LinkedIn" width="34" height="34" loading="lazy">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>